<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565699380187-jd405g41n24p98iaq0vqdtk217c1evl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565699380187-jd405g41n24p98iaq0vqdtk217c1evl1</string>
	<key>API_KEY</key>
	<string>AIzaSyCOLSboO7QjHCgRI2vju8GoNWaDSp2HjSc</string>
	<key>GCM_SENDER_ID</key>
	<string>565699380187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Home.iosMyinsta</string>
	<key>PROJECT_ID</key>
	<string>instagram-43691</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-43691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565699380187:ios:86d465a1d703b95dbe1dfe</string>
</dict>
</plist>